.m-home-wrapper{
	.m-home-banner{
		width: 100%;
		img {
			width: 100%
		}
	}
	.m-home-nav{
		padding: 10px;
		background: rgb(4, 152, 250);
		ul {
			display: flex;
			justify-content: center;
			li{
				flex: 1;
				text-align: center;
				a{
					color: #fff;
					font-size: 14px;
				}
			}
		}
	}
	.m-home-main{
		padding: 40px;
		.m-home-section{
			margin-bottom: 20px;
		}
		h3{
			text-align: center;
			margin-bottom: 10px;
		}
	}
}