.m-fix-alert{
   background: #091F6E;
   .ant-alert-message{
    color: #fff; 
   }
}
.m-review-line{
    width: 100%;
    background: #091F6E;
    height: 3px;
    margin: 20px auto;
}

h3{
    padding-left: 30px !important;
    color: #091F6E;
    font-size: 22px;
}

.m-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        margin-bottom: 20px;
    }
}